/*pre-defined tag*/
body{
	color:#555;
	/*background:#ddd;*/
}

 h1{
	color: #fff ! important;
	margin: 10px 0 ! important;
	background: #007d58;
	padding: 5px 0 5px 20px;
  clear: both;
  width: 25%;
  box-shadow: 0px 0px 3px 2px #a24032;
}

footer{
	height:60px;
	padding:5px 0;
	background: #007d58;
	color:#fff;
}

select{
  margin: 0 0 10px 90px;
}

form{
  margin-bottom:10px;
}

label {
  float: left;
  min-width: 150px;
  line-height: 25px;
}

#attributes-edit label {
  min-width: 210px;
}

#attributes-add label {
  min-width: 210px;
}

#attributeset-edit input {
  width: 310px;
}


#attributeset-edit select {
  float: left;
  margin-left: 90px;
}


input{
  margin: 0 10px 0 90px;
}

#add-product label {
min-width: 295px;
}

/*div and classes*/
#top-wrap{
  min-height: 60px;
  width: 100%;
  float: left;
}

#top-wrap .col-md-12 {
  padding: 0;
}


#logo{
  height: 50px;
  color: #fff;
  margin-right: 0;
  float: left;
  background: #a24032;
  padding: 20px 50px 20px 19%;
  height: 61px;
}

#form3 input {
  margin: 0 0 10px 0 ! important;
}

.f-nav{  /* To fix main menu container */
    /*z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;*/
}

#navigation{
  margin-right: -15px;
}

#navigation-sticky-wrapper nav#navigation{
    z-index: 9999;
    width: 100%;
    background: #a24032;
    height: auto;
    float: left;
    height: 55px;
}

#main-menu-container {text-align: center; text-align: center; float: left;min-width: 72%;}
#main-menu-container ul {list-style:none; width: 100%;}
#main-menu-container ul li{position:relative;}
#main-menu-container ul ul{display:none;margin: 0 ! important;}
#main-menu-container ul li ul {margin-left: 0; padding: 0 10px; float: left;}
#main-menu-container ul li ul li{ padding: 0}
#main-menu-container ul li ul li a{color:#fff; padding: 5px 10px; font-weight:600; background:#007d58;line-height: 25px;float: left; min-width: 120px;}
#main-menu-container ul li:hover ul{display:block; margin:5px 0 0 0; position:absolute; color:#007d58;}
/*#main-menu-container ul li:hover ul li{ float:none; display:inline;}*/

.input-box {
  width: 66%;
  line-height: 10px;
  margin: 0 20px 10px 0;
  height: auto;
  overflow: hidden;
}

#edit, .main-body{
  width:90%;
  height: auto;
  margin:0 auto;
  overflow: hidden;
  padding:10px;
}

#edit h3, .main-body h3 {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-weight: 700;
  margin: 0 10px 15px 0;
  padding: 5px 20px;
  background: linear-gradient(to top, #007d58, #a24032);
  width: 16%;
  line-height: 25px;
  box-shadow: 2px 1px 1px 1px #333;
  font-size: 20px;
}


.save{
  padding:5px 10px;
  margin: 0 0 0 330px ! important;
  float: left;
  width: auto ! important;
}


/*Css for tabs*/
#tabs {
  margin: 10px 0;
  /*border: 1px solid #a24032;*/
  padding: 0 10px;
  border-top: none;
  /*width: 50%;*/
}
#tabs ul {
  clear: both;
  min-height: 30px;
}

  #tabs ul li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  background: #007d58;
  color: #fff;
  font-weight: 600;
}

#tabs ul li a{
  color:#fff;
}

#tabs ul li a:active {
  text-decoration: none;
  color: #ff0000;
  font-weight: 700;
}

/*css for popup*/

#cboxOverlay{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: absolute;
  top: 0px;
  display: none;
  background-color: black;
}

 .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 10px solid #a24032;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }

  #edit select {
  margin: 0 0 10px 89px !important;
}

.rabbits{
  margin: 10px 0 15px 0;
  overflow:hidden;
}

.rabbits p{
  color:#111;
  font-weight:600;
}

.rabbits a{
  color:#fff;
  font-weight:600;
}


.rabbits input{
  padding:6px 10px;
  margin-top:5px;
  margin-bottom:5px;
  background:#aaa;
  color:#111;
  font-weight:900;
}


.rabbits form{
  margin:0;
}


.rabbits form ul {
  float:left;
  width: 24%;
  overflow: hidden;
  background:#ddd;
  margin: 0 1% 0 0;
}

.rabbits form ul li{
  float:left;
  /*border:1px solid #a24032;*/
  margin: 3px 2px;
  width: 132px;
  list-style-type: none;
  height: 80px;
}

.rabbits form h3{
    padding:10px;
    font-size: 20px;
    background: linear-gradient(to left, #a24032,#007d58);
    color: #fff;
    font-weight:600;
    margin: 0;
}

.rabbits form h4{
  clear: left;
  line-height: 25px;
  padding: 5px 10px;
  background: #007d58;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.status h3 {
  margin: 0;
  color: #007d58;
  font-weight: 900;
  min-width: 200px;
}


#cboxLoadedContent{
  overflow:visible !important;
  height:auto !important;
}

#cboxContent{
  height:auto !important;
  border: 10px solid #a24032;  
  background: #ccc;
} 

.rabbit_popup{
  overflow: hidden;
  height: auto;
  border-top: none;
  font-weight: 600;
  -webkit-tranzition: all 0.3s;
     -moz-tranzition: all 0.3s;
          transition: all 0.3s;
}

#cboxWrapper, #colorbox{
  width:auto !important;
}

#cboxLoadedContent{
  width:auto !important;
  padding:10px;
}

.status{
  margin-bottom:15px;
}

.rabbit_popup ul li{
  float:left;
  display: inline-block;
  width: 98%;
  margin: 10px 0;
  line-height: 27px;
} 

.rabbit_popup ul li p{
  float:left;
  margin: 0 15px 0 0;
}

.rabbit_popup p{
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.rabbit_popup ul li .input-box {
  float: left;
  margin: 0;
  overflow: hidden;
  width: 60%;
}

.options {
  line-height: 15px;
}

.rabbit, .rabbit_click{
  min-height: 45px;
}

.wean {
  float: right;
  margin: -15px 0 0 0;
  padding: 5px 10px;
}

.rabbit_popup select{
  float:left;
  margin: 0 15px 0 0;
}

.death {
  width: 98.6%;
  margin: 0;
}

.birth-form select {
margin: 10px 0;
}

.available_to_mate,
.wait_for_pregnancy,
.check_for_pregnancy,
.wait_for_birth,
.add_litters,
.wait_for_weaning,
.time_for_weaning,
.time_for_grouping,
.wait_for_grouping,
.wait_for_culling,
.time_for_culling{
  padding:5px;
}


.available_to_mate{
  background:#37560d;
}

.wait_for_pregnancy{
  background:#33525c;
}
.check_for_pregnancy{
  background:#233c44;
}

.wait_for_birth{
  background:#53837e;
}
.add_litters{
  background:#3f5056;
}

.wait_for_weaning{
  background:#ae5495;
}
.time_for_weaning{
  background:#9b4b85;
}

.time_for_grouping{
  background:#438478;
}
.wait_for_grouping{
  background:#3b766b;
}

.wait_for_culling{
  background:#966902;
}
.time_for_culling{
  background: #865d01;
}

/*Navigation menu*/
.navbar {
background-color: #a24032;
margin: 0;
}

/*.navbar .nav-container{
  margin-left:90px;
}*/
.navbar-default .navbar-brand {
color: #fff;
}
.navbar ul.navbar-nav li a {
height: 50px;
line-height: 32px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  background-color:#903b2e;
  color:#fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color:#903b2e;
  color:#fff;
}
.navbar-default .navbar-nav>li>a{color:#fff;}

.main-container{margin-top:60px;}

/*body .container{
  margin-top:50px;
}*/

body footer .container{margin-top:0;}